<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/chats">
        From:<input type="text" name="From" id="">
        <br><br>
        msg:<textarea name="msg" id="" cols="30" rows="10"></textarea>
        <br><br>
        To:<input type="text"name="To">
        <br><br>
     
        <button>creat a button</button>
    </form>
</body>
</html>